body, html { margin: 0; overflow: hidden; }
.screen { display: none; width: 100vw; height: 100vh; }
.active { display: block; }
#screen1 { background: lightblue; }
#screen2 { background: lightgreen; }

.screen button{
    position: absolute;
    top: 1rem;
    left: 1rem;
}